:root {
    /*
        this thing below never ended up being used because
        I just chose Jetbrains Mono to display
        the countdown & team codes
    */
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (min-width: 768px) {
    .mainContent {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
}